docker {
    enabled = true
}

process {
    withName:ReadTrimming {
        container = 'dennistpw/align:latest'
    }
    withName:FastQC {
        container = 'dennistpw/align:latest'
    }
    withName:MultiQC {
        container = 'dennistpw/align:latest'
    }
    withName:bwaAlign {
        container = 'dennistpw/align:latest'
    }
    withName:bwaSort {
        container = 'broadinstitute/gatk:latest'
    }
    withName:MarkDuplicates {
        container = 'broadinstitute/gatk:latest'
    }
    withName:AddOrReplaceReadGroups {
        container = 'broadinstitute/gatk:latest'
    }
    withName:HaplotypeCaller {
        container = 'broadinstitute/gatk:latest'
    }
    withName:GenomicsDBImport {
        container = 'broadinstitute/gatk:latest'
    }
    withName:GenotypeGVCF {
        container = 'broadinstitute/gatk:latest'
    }
    withName:Qualimap {
        container = 'dennistpw/align:latest'
    }
    withName:FlagstatRun {
        container = 'dennistpw/align:latest'
    }
    withName:FlagstatCollect {
        container = 'dennistpw/align:latest'
    }
    withName:FlagstatCollect {
    container = 'broadinstitute/gatk:latest'
    }
}



